* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(240, 228, 223);
    /* color: #555; */
    /* overflow: hidden; */
    font-family: 'Lato', sans-serif;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    /* position: fixed; */
}

a {
    cursor: pointer;
}

.sb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-left: 1em;
    gap: 1.5em;
}

.navbar {
    width: 200px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(74, 68, 66);
    transition: 0.5s;
    /* overflow: hidden; */
}

.nav-link {
    font-size: 1.25em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: rgb(183, 173, 167);
    border-radius: 0.3em;
}

.topbar {
    background-color: #e35f22;
    color: white;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
}

h4 {
    margin-top: 20px;
    margin-right: 10px;
}

.content-section {
    width: 100%;
    margin-top: 10rem;
}

table {
    border-collapse: collapse;
    width: 80%;
    overflow-y: scroll;
    margin-left: 10rem;
    margin-bottom: 5rem;
    /* display:block; */
}

th,
td {
    border: 1px solid black;
    padding: 28px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* modal */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal content box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}